
{% extends 'base-front.html.twig' %}
{% block body %}

    <center>
<section>
    <h1> Activités</h1>

        {% for t in type %}

            <h3>    Nom {{ t.nom }} </h3>
            <img src="{{ asset('uploads/Activite/'~ t.image)  }}" alt="" width="500">
           <h4>   Lieu: {{ t.lieu }}  </h4>
            <h4>  {{ t.description }}   </h4>




        {% endfor %}




</section>
    </center>





{% endblock %}