{% extends 'base-front.html.twig' %}

{% block body %}


    <script>
        var activities = document.getElementById("activite");
        activities.addEventListener("change", function() {
            location.href="/home/activite/" + activities.value;
        });
    </script>
    <section class="content container-fluid">

        <!--------------------------
          | Your Page Content Here |
          -------------------------->



            {% for t in type %}

                <h3>    {{ t.nom }} </h3>
                <img src="{{ asset('uploads/Activite/'~ t.image)  }}" alt="" width="500">
                <h4>   Lieu: {{ t.lieu }}  </h4>
                <h4>  {{ t.description }}   </h4>


            {% endfor %}


    </section>
    <script type="text/javascript">
        var vsid = "kc239662d18e8c4";
        (function() {
            var vsjs = document.createElement('script'); vsjs.type = 'text/javascript'; vsjs.async = true; vsjs.setAttribute('defer', 'defer');
            vsjs.src = 'https://www.leadchatbot.com/vsa/chat.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(vsjs, s);
        })();
    </script>
{% endblock %}