{% extends 'base-front.html.twig' %}
{% block body %}

    {% for produit in products %}

     <h3> {{ produit.nom }}   </h3>
        <img width="64px" height="64px" src="{{ produit.image }}"/>
<h3>    Prix  {{ produit.prix }} dt </h3>


        <a class="button button-black-outline button-ujarak" href="{{path("cart_add", {id: produit.id})}}" class="btn btn-success">
            <i class="bi bi-cart-plus"></i> J'achete
        </a>

    {% endfor %}








{% endblock %}