{% extends 'base-back.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}
    <section class="bg-light p-3">
        <h1>Commandes</h1>
    </section>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>date</th>
                <th>Etat</th>
                <th>total</th>
            </tr>
        </thead>
        <tbody>
            {% for element in commandes %}
                <tr>
                    <td>{{ element.id }}</td>
                    <td >{{ element.date }} </td>
                    <td>{{ element.etat }}</td>
                    <td>{{ element.totalcost }}</td>

                    
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="text-center">Votre panier est vide</td>
                </tr>
            {% endfor %}
        </tbody>
      
    </table>


    
{% endblock %}
